<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<!-- templates/fragment/thymeleaf-frag.html 안에서 head fragment를 삽입 -->
	<head th:insert="fragment/thymeleaf-frag :: head"></head>
	
	<body>
		<div th:replace="fragment/thymeleaf-frag :: header ('포스트 목록 페이지')"></div>
		
		<div class="container-fluid mt-3">
			<!-- todo : 로그인/로그아웃/회원가입 -->
			<nav>
				<a th:href="@{/post/create}" class="btn btn-primary">새 글 작성</a>
			</nav>
		</div>

		<!-- todo : 포스트 목록 테이블 -->
		<div class="row">
		</div>
		
		<div th:replace="fragment/thymeleaf-frag :: bootstrap-js"></div>
	</body>
	
</html>