<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<!-- templates/fragment/thymeleaf-frag.html 안에서 head fragment를 삽입 -->
	<head th:insert="fragment/thymeleaf-frag :: head"></head>
	
	<body>
		<div th:replace="fragment/thymeleaf-frag :: header ('포스트 목록 페이지')"></div>
		
		<div class="container-fluid mt-3">
			<!-- todo : 로그인/로그아웃/회원가입 -->
			<nav>
				<a th:href="@{/post/create}" class="btn btn-primary">새 글 작성</a>
			</nav>
		</div>

		<!-- todo : 포스트 목록 테이블 -->
		<div class="row">
			<table class="table table-striped table-hover m-3">	
				<thead>	<!-- table head -->
					<tr>	<!-- table row -->
						<th>번호</th> <!--  table cell header : 컬럼이름  -->
						<th>제목</th>
						<th>작성자</th>
						<th>수정시간</th>
					</tr>
				</thead>
				<tbody>	<!-- table body -->
					<tr th:each="post : ${postList}"> <!-- thymeleaf 반복문 -->
						<td th:text="${post.id}">ID</td> <!-- table cell data -->
						<td>
						<!-- // /post/read/123 -->
							<a th:href="@{/post/read/{id}(id=${post.id})}" 
							   th:text="${post.title}">TITLE
							</a>
						</td>
						<td th:text="${post.author}">AUTHOR</td>
						<td th:text="${post.modifiedTime}">MODIFIED TIME</td>
					</tr>
				</tbody>
			</table>		
		</div>
		
		<div th:replace="fragment/thymeleaf-frag :: bootstrap-js"></div>
	</body>
	
</html>